<footer class="row-footer">
  <div style="left-padding:auto; back" >
    <div style="padding: 20px 10px 0px 0px; text-align: right;">
    <a class="btn btn-social-icon btn-google-plus" href="http://gitlab.com/aossie/agora"><i class="fa fa-gitlab"></i></a>
    <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
    <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/aossie"><i class="fa fa-twitter"></i></a>
    <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o"></i></a>

</div>
</div>
<div class="container"><p align="center">Copyright © <a href="http://aossie.org/">AOSSIE</a> 2018. All Rights Reserved</p>
</div>
